/* --------------------------------------------Contenedor General----------------------------------------------------- */
.contenedorCarrito {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

/* --------------------------------------------Medio y Bottom ----------------------------------------------------- */

.MidyBotm {
  /* Contenedor para poner el footer(bottom) y el mid(middle) en un solo div, para movil  */
  width: 100%;
  height: 90%;
  display: flex;
  background-color: rgb(229, 229, 229);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.middle {
  /* Medio, aqui esta totales y carrito */
  display: flex;
  /* background-color: #f9f6ee; */
  background-color: white;
  flex-direction: row;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.columnPasosPagar {
  /* Row donde esta el espacio de relleno para que aparezcan los nombres de las pestanas encima del carrito */
  display: flex;
  flex-direction: row;
  background-color: #f9f6ee;
  height: 10%;
  justify-content: center;
  width: 100%;
}

.pasos {
  /* Columna donde estan las pestanas */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-bottom: 1%;
  /* padding: 1%; */
}

.nombrePaso {
  /* ovalos donde estan el nombre de las pestanas */
  display: flex;
  height: 60%;
  width: 15%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1%;
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid #1b4965;
  background-color: #1b4965;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  white-space: nowrap;
}

.relleno {
  /* Div de relleno para poner las pestanas encima de carrito */
  height: 100%;
  width: 25%;
}

.Dbottom {
  /* Footer en movil no se muestra */
  display: flex;
  background-color: #1b4965;
  color: white;
  height: 10%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.ColumnCampo {
  /* Columna para mostrar los nombres del cobro, (Subtotal, total, envio) */
  display: flex;
  height: 60%;
  width: 50%;
  color: #1b4965;
  padding-left: 3%;
  padding-top: 1%;
  text-align: left;
  font-size: "10vw";
}

.ColumnNo {
  /* Numeros de cada cobro de envio subtotal y total */
  display: flex;
  height: 100%;
  width: 50%;
  color: #1b4965;
  font-size: large;
  padding-right: 3%;
  text-align: right;
  justify-content: right;
  font-size: "10vw";
}

.codigoC {
  /* Barra para codigo de descuento */
  display: flex;
  width: 100%;
  height: 20%;
  background-color: transparent;
  border-radius: 20px;
  resize: none;
  border: 1px solid #1b4965;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #1b4965;
}

.codigoC::placeholder {
  /* Place holder que dice Codigo promocional */
  display: flex;
  color: #1b4965;
  font-size: 1rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
}
::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}
::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}

.rowDatos {
  /* Row que engloba a las columnas de los numeros de los precios y sus nombres */
  display: flex;
  flex-direction: row;
  background-color: #c7cdd1;
  color: #1b4965;
  height: 100%;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
  /* box-shadow: 1px 1px 10px #a2a19b; */
}

.carrito {
  /* Div donde salen todos los productos o "El carrito esta vacio" */
  display: flex;
  flex-direction: column;
  background-color: white;
  /* border: 1px solid grey; */
  /* border-radius: 20px; */
  color: #1b4965;
  height: 80%;
  width: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: 0;
  margin-top: 3%;
  margin-right: 5%;
  margin-bottom: 15%;
  margin-left: 5%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-shadow: 1px 1px 10px #a2a19b;
}

.carrito::-webkit-scrollbar {
  /* Oucltar la barra */
  display: none;
}

/* #contTitulo {
    display: flex;
    height: 100%;
    width: 70%;
    align-items: center;
    justify-content: left;
    text-align: left;
} */

.totales {
  /* Columna donde esta el codigo promocional y datos de pago, (rowDatos) y el boton de pagar */
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 40%;
  margin-top: 3%;
  margin-right: 2%;
  margin-bottom: 5%;
  margin-left: 5%;
  padding: 1%;
  box-shadow: 1px 1px 10px #a2a19b;
}

/* Todo pero en forma de movil para que sea responsive */
@media only screen and (max-width: 768px) {
  .columnPasosPagar {
    display: none;
  }

  .MidyBotm {
    /* width: 100%;  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    /* padding: 2%; */
    /* border: 1px black solid; */
    border-radius: 30px;
    margin: 3%;
    background-color: transparent;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
  }
  .middle {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
    border-radius: 20px;
  }
  .Dbottom {
    display: none;
  }
  .pagobtn {
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: #1b4965;
    border-radius: 20px;
    margin-top: 0;
    margin-left: 0;
    /* font-family: 'Gill Sans', 'Gill Sans MT',  sans-serif; */
  }
  .logo {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
  }
  .ColumnCampo {
    display: flex;
    height: 100%;
    width: 50%;
    color: #1b4965;
    font-size: large;
    /* font-family: 'Gill Sans', 'Gill Sans MT',  sans-serif;; */
    padding-left: 3%;
    text-align: left;
  }

  .ColumnNo {
    display: flex;
    height: 100%;
    width: 50%;
    color: #1b4965;
    font-size: large;
    padding-right: 3%;
    text-align: right;
    justify-content: right;
    /* font-family: 'Gill Sans', 'Gill Sans MT',  sans-serif;; */
  }

  .codigoC {
    display: flex;
    width: 100%;
    min-height: 15%;
    background-color: transparent;
    border-radius: 20px;
    color: #1b4965;
    resize: none;
    text-align: center;
    border: 1px solid #1b4965;
    margin-top: 2%;
    overflow: hidden;
  }

  .codigoC::placeholder {
    display: flex;
    color: #1b4965;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", sans-serif;
    font-size: 20px;
    font-weight: bolder;
  }

  .rowDatos {
    display: flex;
    flex-direction: row;
    /* background-color: #FFF; */
    color: #1b4965;
    min-height: 50%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;

    overflow-y: hidden;
    overflow-x: hidden;
  }

  .carrito {
    display: flex;
    flex-direction: column;
    color: #1b4965;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 3%;
    margin: 0;
    box-shadow: 0px 0px 0px #a2a19b;
  }

  .totales {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin: 0;
    padding: 0;
    min-height: 30%;
    width: 100%;
    box-shadow: 0px 0px 0px #a2a19b;
  }
}
