/* --------------------------------------------Contenedor General----------------------------------------------------- */
.contenedor {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

/* --------------------------------------------Medio y Bottom ----------------------------------------------------- */

.MidyBotm {
  /* Contenedor para poner el footer(bottom) y el mid(middle) en un solo div, para movil  */
  width: 100%;
  height: 90%;
  display: flex;
  background-color: rgb(229, 229, 229);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.middle {
  /* Medio, aqui esta totales y carrito */
  display: flex;
  background-color: #f9f6ee;
  flex-direction: row;
  height: 80%;
  width: 100%;
  border-radius: 20px;
}

.columnPasosPagar {
  /* Row donde esta el espacio de relleno para que aparezcan los nombres de las pestanas encima del carrito */
  display: flex;
  flex-direction: row;
  background-color: #f9f6ee;
  height: 10%;
  justify-content: center;
  width: 100%;
}

.pasos {
  /* Columna donde estan las pestanas */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-bottom: 1%;
  /* padding: 1%; */
}

.nombrePaso {
  /* ovalos donde estan el nombre de las pestanas */
  display: flex;
  height: 60%;
  width: 15%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1%;
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid #1b4965;
  background-color: #1b4965;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  white-space: nowrap;
}

.relleno {
  /* Div de relleno para poner las pestanas encima de carrito */
  height: 100%;
  width: 25%;
}

.Dbottom {
  /* Footer en movil no se muestra */
  display: flex;
  background-color: #1b4965;
  color: white;
  height: 10%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.pagobtn {
  /* Boton de pagar en movil o siguiente en escritorio */
  height: 30%;
  width: 100%;
  color: #fff;
  margin-top: 5%;
  align-self: center;
  /* margin-left: 55%; */
  background-color: #1b4965;
  border-radius: 20px;
  cursor: pointer;
}

/* .logo {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
} */

.product {
  /* Aqui se va a mostrar la foto del producto, info del producto y botones para sumar y restar cantidad */
  display: flex;
  flex-direction: row;
  background-color: transparent;
  min-height: 50%;
  max-height: 50%;
  width: 95%;
  padding: 2%;
  margin: 1%;
  border-bottom: 1px solid #1b4965;
}

.vista {
  /* Espacio para la Foto del producto */
  display: flex;
  position: relative;
  height: 100%;
  width: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.btn_eliminar {
  /* Boton para eliminar producto del carrito, esto esta dentro de vista */
  display: flex;
  height: 100%;
  width: 40%;
  color: #1b4965;
  font-size: larger;
  cursor: pointer;
}

#imgVistaC {
  /* foto del producto */
  display: flex;
  position: absolute;
  height: 100px;
  width: 100px;
  align-items: center;
  justify-content: center;
  top: 25%;
  right: 25%;
  border-radius: 50%;
}

.info {
  /* Epacio para la Info del producto, esta dentro de product */
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
  color: #1b4965;
  height: 100%;
  width: 50%;
  border-radius: 10px;
  font-size: small;
  padding: 1%;
}

.textInfo {
  /* info del producto */
  padding: 0;
  margin: 0;
  font-size: 1rem;
}
.nums {
  /* Contenedor para botones de sumar y restar y la cantidad */
  display: flex;
  height: 100%;
  width: 20%;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

#xd {
  /* Div para darle forma a los botones y el numero como solo una row y que este separada de la info */
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30%;
  align-items: center;
  justify-content: center;
  color: #bfbfbf;
  background-color: #1b4965;
  padding: 5%;
}

.btn_sumar {
  /* Boton para sumar*/
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  background-color: #1b4965;
  height: 100%;
  width: 20%;
  margin-right: 1%;
  margin-left: 5%;
  font-weight: bolder;
  cursor: pointer;
}

.cant {
  /* Cantidad de cada producto */
  display: flex;
  color: white;
  align-items: center;
  font-size: 80%;
  justify-content: center;
  background-color: #1b4965;
  height: 100%;
  width: 60%;
}

.btn_restar {
  /* Boton para restar */
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  background-color: #1b4965;
  height: 100%;
  width: 20%;
  margin-right: 5%;
  margin-left: 1%;
  cursor: pointer;
}

/* .pic {
    esto era para el titulo pero ya no 
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url(../assets/img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
} */

.ColumnCampo {
  /* Columna para mostrar los nombres del cobro, (Subtotal, total, envio) */
  display: flex;
  height: 60%;
  width: 50%;
  color: #1b4965;
  padding-left: 3%;
  padding-top: 1%;
  text-align: left;
  font-size: "10vw";
}

.ColumnNo {
  /* Numeros de cada cobro de envio subtotal y total */
  display: flex;
  height: 100%;
  width: 50%;
  color: #1b4965;
  font-size: large;
  padding-right: 3%;
  text-align: right;
  justify-content: right;
  font-size: "10vw";
}

.codigoC {
  /* Barra para codigo de descuento */
  display: flex;
  width: 100%;
  height: 20%;
  background-color: transparent;
  border-radius: 20px;
  resize: none;
  border: 1px solid #1b4965;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.codigoC::placeholder {
  /* Place holder que dice Codigo promocional */
  display: flex;
  color: #1b4965;
  font-size: 1rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
}
::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}
::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}

.rowDatos {
  /* Row que engloba a las columnas de los numeros de los precios y sus nombres */
  display: flex;
  flex-direction: row;
  background-color: #c7cdd1;
  color: #1b4965;
  height: 100%;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
  /* box-shadow: 1px 1px 10px #a2a19b; */
}

.carrito {
  /* Div donde salen todos los productos o "El carrito esta vacio" */
  display: flex;
  flex-direction: column;
  background-color: white;
  /* border: 1px solid grey; */
  /* border-radius: 20px; */
  color: #1b4965;
  height: 80%;
  width: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: 0;
  margin-top: 3%;
  margin-right: 5%;
  margin-bottom: 15%;
  margin-left: 5%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-shadow: 1px 1px 10px #a2a19b;
}

.carrito::-webkit-scrollbar {
  /* Oucltar la barra */
  display: none;
}

/* #contTitulo {
    display: flex;
    height: 100%;
    width: 70%;
    align-items: center;
    justify-content: left;
    text-align: left;
} */

.totales {
  /* Columna donde esta el codigo promocional y datos de pago, (rowDatos) y el boton de pagar */
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to bottom,  white 0%,white 75%,transparent 75%,transparent 100%);; */
  height: 50%;
  width: 40%;
  /* background-color: rgb(190, 186, 186); */
  /* border-radius: 20px;  */
  margin-top: 3%;
  margin-right: 2%;
  margin-bottom: 5%;
  margin-left: 5%;
  padding: 1%;
  box-shadow: 1px 1px 10px #a2a19b;

  /* margin-left: 5%;
    margin-right: 5%; */
}

/* Todo pero en forma de movil para que sea responsive */
@media only screen and (max-width: 768px) {
  .columnPasosPagar {
    display: none;
  }

  .MidyBotm {
    /* width: 100%;  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    /* padding: 2%; */
    /* border: 1px black solid; */
    border-radius: 30px;
    margin: 3%;
    background-color: transparent;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
  }
  .middle {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
    border-radius: 20px;
  }
  .Dbottom {
    display: none;
  }
  .pagobtn {
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: #1b4965;
    border-radius: 20px;
    margin-top: 0;
    margin-left: 0;
    /* font-family: 'Gill Sans', 'Gill Sans MT',  sans-serif; */
  }
  .logo {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
  }
  .product {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    min-height: 25%;
    max-height: 25%;
    width: 95%;
    padding: 2%;
    /* border-radius: 20px; */
    margin: 1%;
    border-bottom: 1px solid #1b4965;
  }
  .vista {
    display: flex;
    position: relative;
    flex-direction: "column";
    height: 100%;
    width: 30%;
    border-radius: 10px;
  }

  .btn_eliminar {
    display: flex;
    height: 20%;
    width: 20%;
    color: #1b4965;
    cursor: pointer;
  }
  #imgVistaC {
    display: flex;
    position: absolute;
    height: 50%;
    width: 60%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 25%;
    right: 25%;
    background-color: blue;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    color: #1b4965;
    height: 100%;
    width: 50%;
    border-radius: 10px;
    font-size: small;
    /* font-family: 'Gill Sans', 'Gill Sans MT',  sans-serif;; */
    padding: 2%;
  }

  .textInfo {
    padding: 0;
    margin: 0;
  }
  .nums {
    display: flex;
    /* flex-direction: column; */
    height: 100%;
    width: 20%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  }

  #xd {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
    /* border: 1px solid white; */
    align-items: center;
    justify-content: center;
    color: #bfbfbf;
    background-color: #1b4965;
    padding: 5%;
  }

  .btn_sumar {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    background-color: #1b4965;
    height: 100%;
    width: 20%;
    margin-right: 1%;
    margin-left: 5%;
    font-weight: bolder;
  }

  .cant {
    display: flex;
    color: white;
    align-items: center;
    font-size: 80%;
    justify-content: center;
    background-color: #1b4965;
    height: 100%;
    width: 60%;
  }

  .btn_restar {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    background-color: #1b4965;
    height: 100%;
    width: 20%;
    margin-right: 5%;
    margin-left: 1%;
  }

  .pic {
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url(../assets/img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }

  .ColumnCampo {
    display: flex;
    height: 100%;
    width: 50%;
    color: #1b4965;
    font-size: large;
    /* font-family: 'Gill Sans', 'Gill Sans MT',  sans-serif;; */
    padding-left: 3%;
    text-align: left;
  }

  .ColumnNo {
    display: flex;
    height: 100%;
    width: 50%;
    color: #1b4965;
    font-size: large;
    padding-right: 3%;
    text-align: right;
    justify-content: right;
    /* font-family: 'Gill Sans', 'Gill Sans MT',  sans-serif;; */
  }

  .codigoC {
    display: flex;
    width: 100%;
    min-height: 15%;
    background-color: transparent;
    border-radius: 20px;
    color: #1b4965;
    resize: none;
    text-align: center;
    border: 1px solid #1b4965;
    margin-top: 2%;
    overflow: hidden;
  }

  .codigoC::placeholder {
    display: flex;
    color: #1b4965;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", sans-serif;
    font-size: 20px;
    font-weight: bolder;
  }

  .rowDatos {
    display: flex;
    flex-direction: row;
    /* background-color: #FFF; */
    color: #1b4965;
    min-height: 50%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;

    overflow-y: hidden;
    overflow-x: hidden;
  }

  .carrito {
    display: flex;
    flex-direction: column;
    color: #1b4965;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 3%;
    margin: 0;
    box-shadow: 0px 0px 0px #a2a19b;
  }

  .totales {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin: 0;
    padding: 0;
    min-height: 30%;
    width: 100%;
    box-shadow: 0px 0px 0px #a2a19b;
  }
}
