.contenedorResumen {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10%;
    width: 100%;
    padding: 0;
    box-shadow: 1px 1px 10px #a2a19b;
}

.BtnRegresar {
    display: flex;
    height: 100%;
    width: 25%;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.title {
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding-top: 3%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
}

.body {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    overflow-y: scroll;
}

.sector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: 50%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.subtitle {
    display: flex;
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: bold;
    padding-left: 5%;
}

.content {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 90%;
    background-color: #F9F6EE;
    box-shadow: 1px 1px 10px #a2a19b;
    margin: 5%;
    align-items: center;
    justify-content: center;
}

.ubicacionRes {
    display: flex;
    height: 45%;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 2.5%;
}

.map {
    height: 100%;
    width: 25%;
    background-image: url("../../assets/img/MapaImg.png");
    background-size: contain;
    background-position: center;
}

.UbiName {
    height: 100%;
    width: 75%;
    align-items: center;
}

.deliveryTimeRes {
    display: flex;
    height: 45%;
    width: 90%;
    margin-top: 2.5%;
    margin-bottom: 5%;
    align-items: center;
    justify-content: center;
}

.DeliveryImg {
    display: flex;
    height: 60%;
    width: 15%;
    background-image: url("../../assets/img/MotoImg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}

.DeliveryTxt {
    display: flex;
    height: 100%;
    width: 85%;
    align-items: center;
    padding-left: 5%;
    font-size: 16px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.btnConfirm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 80%;
    border-radius: 20px;
    background-color: #1B4965;
    color: white;
    font-size: 18px;
    font-weight: bold;
}