
.containerConf{
    position: absolute;
    left: 0%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: none;
    background-color: #1f3350;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin-top: -16%;
}

.leftNav{
    border: none;
    height: 84%;
    border-color: #1f3350;
    box-shadow: none;
}