
.containerConf{
    position: absolute;
    top: 15%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.leftNav{
    border: none;
    height: 85%;
}