/*contenedor principal*/
.containerNav{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #1f3350;
    color: white;
    border: none;
    padding: auto;
}
/*contenido del contenedor*/
.content{
    left: 0;
    position: relative;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
}

/*Lista del contenedor*/
.containerList{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

/*cada elemento de la lista*/
.containerList li{
    font-size: larger;
    font-weight: 600;
    text-decoration: none;
    padding: 4%;
    border: none;
    border-radius: 5px;
    margin: 1%;
    align-items: center;
    /* background-color: lightblue; */
}

.containerList li:hover{
    background-color: #2c3e50;
    cursor: pointer;
}