.cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
}

.cuerpo img {
    width: 70%;
    height: auto;
    margin-bottom: 10px;
}

.precio {
    background-color: #3effff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.detalle-cantidad {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.titulos{
    margin-right: 10px;
    align-self: flex-start;
    margin: 20px
}

.control-cantidad {
    display: flex;
    align-items: center;
}

.control-cantidad button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
}

.agregar-carrito {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.agregar-carrito:hover {
    background-color: #0056b3;
}