.login{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-image: url(../assets/img/wallpaper8.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    background-color: #154EE5;
    justify-content: center;
    align-items: center;    

}
.login .formulario{
    background-color:#061a4dab; 
    padding: 35px;
    border-radius: 80px;
    box-shadow: 0 0 30px rgba(0, -0, 0, -0.568);
    color: white;
    border: none;
    width: 80%;
    height: 70%;
    margin-bottom: 35%;
    margin-top: 3%;
}

.login .form-text{
    padding: 5px;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 20px;
    align-items: flex-start;
    display: flex;
}

.login .btn{
    margin: 8px;
    padding: 17px;
    border-radius: 10px;
    background-color: #051336;
    color: white;
    border: none;
    font-size: 20px;
    box-shadow: 0 0 30px rgba(0, -0, 0, -0.568);
    transition: 0.5s ease-in;
    font-weight: 700!important;

}

.login .btn2{
    border-radius: 10px;
    background-color: #2D62EE;
    color: white;
    border: none;
    box-shadow: 0 0 30px rgba(0, -0, 0, -0.568);
    transition: 0.5s ease-in;
    font-weight: 700!important;

}

.login  .btn:hover, .login .btn2:hover{
    background-color: #2a7727d2;
    color: white;
    border: none;
}

.login .inputs{
    border: white;
    background-color: white;
    font-size: 16px;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    color: black;
}