.nabvar-body{
    background-color: #1B4965;
    font-size: 20px;
    font-weight: 500;
    position: fixed;
    top: 0;
    width: 100%;
    left:0;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    z-index: 2;
}

.nav-text{
    color: #FFF !important;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    margin-right: 10px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.buscar{
    margin-left: 25%;
}

.logotipo{
    margin-left: 15%;
    margin-right: 15%;
}

#navbar.scrolled{
    display: none;
}

.textos{
  
    margin-left: 10px;
    margin-right: 10px;
}

.boton{
    color: #BEE9E8;
    padding: 0px;
    background-color: #1B4965;
}