.card-category{
    display: grid;
    grid-template-rows: 80% 10%;
    margin: 10px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5px;
    /* border: 1px solid #ccc; */
    border-radius: 5%;
    
    align-items: center;
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;

}

.card-category:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.card-content-category{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
}

.imagen-category{
    width: 80%;
    height: auto;
    size: cover;
    object-fit: cover;
}

#title-card{
    align-self: flex-end;
}