.container-edit-prod {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
    padding-top: 120px;
    overflow-y: auto;
}
  
.containerImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
  