.bigSquare {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18%;
    justify-content: center;
}

.cardProducto {
    width: 70%;
    background-color: rgb(205, 255, 238);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

.containerImage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.imageProduct {
    max-width: 100%;
    height: auto;
    background-color: transparent;
}

.title {
    width: 100%; 
    font-size: 18px; 
    display: flex; 
    flex-direction: column;
    text-align: initial;
    font-weight: bold;
    font-family: 'Merriweather', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.containerInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.containerInfo label {
    font-size: 14px;
    margin-bottom: 5px;
}

.containerInfo input,
.containerInfo textarea {
    font-size: 14px;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.addToCartContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.addToCartButton {
    padding: 10px 20px;
    background-color: #1B4965;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}

.addToCartButton:hover {
    background-color: #12324a;
}

.agregarProductoButton {
    align-self: flex-end;
    margin: 20px;
    background-color: #43a6e4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
