.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.header h1 {
    flex-grow: 1;
    text-align: center;
    color: black;
}

.agregar-categoria-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    right: 20px;
}

.agregar-categoria-button:hover {
    background-color: #218838;
}

  
#contenido-cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.eliminar-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.eliminar-button:hover {
    background-color: #e60000;
}
  
.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: white;
    text-align: center;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

@media (max-width: 810px) {
    .header {
        flex-direction: column;
    }
    .header h1 {
        text-align: center;
        margin-bottom: 10px;
    }
    .agregar-categoria-button {
        position: static;
        margin-bottom: 10px;
    }
}