.mobileHeaderCont {
  /*este es el header*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-justify: center;
  height: 10%;
  width: 100%;
  box-shadow: 1px 1px 10px #a2a19b;
  background-color: #1b4965;
}

.CarritoHeader {
  /*lo que esta dentro de up*/
  display: flex;
  height: 100%;
  width: 90%;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.regresar {
  /* Espacio para poner boton */
  display: flex;
  height: 100%;
  width: 10%;
  justify-content: center;
  align-items: center;
}

.regresarbtn {
  /* Boton regresar: < */
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: xx-large;
  cursor: pointer;
}

.titulo {
  /* Titulo que esta dentro de header */
  height: 100%;
  flex-direction: row;
  width: 10%;
  font-size: 1.6rem;
  text-align: center;
  align-content: center;
  white-space: nowrap;
}

.midHeader {
  height: 100%;
  width: 70%;
  /* background-color: purple; */
}

.logoBox {
  display: flex;
  height: 100%;
  width: 20%;
  /* background-color: aqua; */
  justify-content: flex-end;
  align-items: center;
}

.opciones {
  /* Las tres lineas a la derecha superior */
  display: none;
  height: 100%;
  width: 10%;
  color: #1b4965;
  justify-content: center;
  align-items: center;
  /* margin-right: 16%; */
}

@media only screen and (max-width: 768px) {
  .midHeader {
    display: none;
  }
  .up {
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: center;
    text-justify: center;
    height: 10%;
    /* width: 100%; */
  }
  .Carritoheader {
    display: flex;
    color: #1b4965;
    font-family: "Gill Sans", "Gill Sans MT", sans-serif;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
  }
  .regresar {
    height: 100%;
    width: 15%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-right: 0;
    padding-left: 0;
  }
  .regresarbtn {
    color: #1b4965;
    background-color: transparent;
    font-size: xx-large;
    border: none;
  }
  .opciones {
    display: flex;
    position: relative;
    height: 100%;
    width: 15%;
    justify-content: center;
    align-items: center;
    padding-bottom: 10;
    /* margin-right: 16%; */
    z-index: 3;
  }
  .logoBox {
    display: none;
  }
  .titulo {
    width: 80%;
    height: 100%;
    text-align: center;
  }
}
